In [217]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [218]:
df = pd.read_csv('./Data/aviation-accident-data-2023-05-16.csv')

In [219]:
df.head(20)

,date,type,registration,operator,fatalities,location,country,cat,year
0,date unk.,Antonov An-12B,T-1206,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
1,date unk.,Antonov An-12B,T-1204,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
2,date unk.,Antonov An-12B,T-1201,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
3,date unk.,Antonov An-12BK,NaN,Soviet AF,NaN,Tiksi Airport (IKS),Russia,A1,unknown
4,date unk.,Antonov An-12BP,CCCP-11815,Soviet AF,0,Massawa Airport ...,Eritrea,A1,unknown
5,date unk.,Antonov An-12BP,CCCP-12172,Soviet AF,NaN,NaN,Russia,U1,unknown
6,date unk.,Antonov An-2,CCCP-N574,"GUSMP, Directorate of Polar Aviation",NaN,unknown,Russia,A1,unknown
7,date unk.,Antonov An-2,CCCP-01216,Aeroflot,0,Chita region,Russia,A2,unknown
8,date unk.,Antonov An-24B,RA-47794,Russian AF,0,NaN,Russia,A1,unknown
9,date unk.,Antonov An-26,01 red,Soviet AF,0,Orenburg Air Base,Russia,O1,unknown
10,date unk.,Antonov An-26,RA-47415,Russian AF,0,Belgorod Airport...,Russia,A1,unknown
11,date unk.,Antonov An-26,RA-47414,Aeroflot,0,NaN,Russia,A1,unknown
12,date unk.,Antonov An-26,5A-DOK,Sin Sad Airlines,NaN,Wadi Bu al Hashm,Libya,A1,unknown
13,date unk.,Antonov An-2R,-,PZL-Mielec,0,Mielec,Poland,O1,unknown
14,date unk.,Antonov An-2R,YU-BFR,Privredna Avijacija Osijek,NaN,NaN,Unknown country,U1,unknown
15,date unk.,Antonov An-2T,CCCP-01196,"Aeroflot, Azerbaijan",0,NaN,Unknown country,O1,unknown
16,date unk.,Antonov An-2T,CCCP-28909,"Aeroflot, Azerbaijan",0,NaN,?,O1,unknown
17,date unk.,Antonov An-2T,CCCP-98313,"Aeroflot, Azerbaijan",0,NaN,?,O1,unknown
18,date unk.,Antonov An-2T,CCCP-28895,"Aeroflot, Azerbaijan",0,NaN,?,O1,unknown
19,date unk.,Antonov An-2T,CCCP-35494,"Aeroflot, Azerbaijan",0,NaN,?,O1,unknown

In [220]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23967 entries, 0 to 23966
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          23967 non-null  object
 1   type          23967 non-null  object
 2   registration  22419 non-null  object
 3   operator      23963 non-null  object
 4   fatalities    20029 non-null  object
 5   location      23019 non-null  object
 6   country       23967 non-null  object
 7   cat           23967 non-null  object
 8   year          23967 non-null  object
dtypes: object(9)
memory usage: 1.6+ MB

In [221]:
df.isna().sum()

date               0
type               0
registration    1548
operator           4
fatalities      3938
location         948
country            0
cat                0
year               0
dtype: int64

In [222]:
df['fatalities'].value_counts()

0         10713
2          1117
1          1005
3           969
4           873
          ...
520           1
46+ 6         1
312           1
154+ 2        1
99+ 2         1
Name: fatalities, Length: 369, dtype: int64

In [223]:
#to change the NaN in fatalities to 0
df['fatalities'].fillna(0, inplace=True)

In [224]:
df['fatalities'].isna().sum()

0

In [225]:
# code that changes the data in fatalities fo that those with + to the value have the + value added to it
#df['fatalities'] = df['fatalities'].apply(lambda x: int(x) if isinstance(x, (int, float)) or x.isdigit() else int(x.split('+')[0]) + 1 if '+' in x else np.nan)

df['fatalities'] = df['fatalities'].apply(lambda x: (int(x) if (isinstance(x, (int, float)) or str(x).isdigit()) else sum(int(i.strip()) for i in str(x).split('+')) if '+' in str(x) else np.nan))

df['fatalities'] = pd.to_numeric(df['fatalities'], errors='coerce')

In [226]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23967 entries, 0 to 23966
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          23967 non-null  object
 1   type          23967 non-null  object
 2   registration  22419 non-null  object
 3   operator      23963 non-null  object
 4   fatalities    23967 non-null  int64
 5   location      23019 non-null  object
 6   country       23967 non-null  object
 7   cat           23967 non-null  object
 8   year          23967 non-null  object
dtypes: int64(1), object(8)
memory usage: 1.6+ MB

In [227]:
df.isna().sum()

date               0
type               0
registration    1548
operator           4
fatalities         0
location         948
country            0
cat                0
year               0
dtype: int64

In [228]:
#check for full columns where operations is NaN
df[df['operator'].isna()]

,date,type,registration,operator,fatalities,location,country,cat,year
22071,10-MAR-2014,Learjet 35A,LV-ZSZ,NaN,0,"San Fernando, BA",Argentina,A2,2014
23326,16-NOV-2019,Bombardier CRJ-900,NaN,NaN,0,DÃ¼sseldorf Inte...,Germany,A2,2019
23853,31-AUG-2022,Cessna 208 Caravan,NaN,NaN,0,near Abu Dhabi-Bateen...,U.A.E.,A1,2022
23918,27-JAN-2023,Ilyushin Il-18D,TL-KBR,NaN,0,Al-Khadim Air Base,Libya,O1,2023

In [229]:
#to check the type and registration columns for same values where operator is PZL-Mielec
filtered = df[(df['operator'] == 'PZL-Mielec') & (df['type'] == 'Antonov An-2R')]

dbs = list(zip(filtered['registration'], filtered['type'], filtered['operator']))
print(dbs)

[('-', 'Antonov An-2R', 'PZL-Mielec'), ('-', 'Antonov An-2R', 'PZL-Mielec')]

In [230]:
df['operator'].fillna('unknown', inplace=True)

In [231]:
df.isna().sum()

date               0
type               0
registration    1548
operator           0
fatalities         0
location         948
country            0
cat                0
year               0
dtype: int64

In [232]:
df['location'].fillna('Unknown', inplace=True)

In [233]:
df.isna().sum()

date               0
type               0
registration    1548
operator           0
fatalities         0
location           0
country            0
cat                0
year               0
dtype: int64

In [234]:
df['registration'].value_counts()

LZ-...      13
-           11
unreg.       6
39           5
48           4
            ..
N130UE       1
42-61052     1
44-77355     1
G-ADUU       1
N72MM        1
Name: registration, Length: 21962, dtype: int64

In [235]:
df.head()

,date,type,registration,operator,fatalities,location,country,cat,year
0,date unk.,Antonov An-12B,T-1206,Indonesian AF,0,Unknown,Unknown country,U1,unknown
1,date unk.,Antonov An-12B,T-1204,Indonesian AF,0,Unknown,Unknown country,U1,unknown
2,date unk.,Antonov An-12B,T-1201,Indonesian AF,0,Unknown,Unknown country,U1,unknown
3,date unk.,Antonov An-12BK,NaN,Soviet AF,0,Tiksi Airport (IKS),Russia,A1,unknown
4,date unk.,Antonov An-12BP,CCCP-11815,Soviet AF,0,Massawa Airport ...,Eritrea,A1,unknown

In [236]:
df['registration'].fillna('Unknown', inplace=True)

In [237]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23967 entries, 0 to 23966
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          23967 non-null  object
 1   type          23967 non-null  object
 2   registration  23967 non-null  object
 3   operator      23967 non-null  object
 4   fatalities    23967 non-null  int64
 5   location      23967 non-null  object
 6   country       23967 non-null  object
 7   cat           23967 non-null  object
 8   year          23967 non-null  object
dtypes: int64(1), object(8)
memory usage: 1.6+ MB

In [238]:
df.duplicated().sum()

116

In [239]:
df.drop_duplicates(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23851 entries, 0 to 23966
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          23851 non-null  object
 1   type          23851 non-null  object
 2   registration  23851 non-null  object
 3   operator      23851 non-null  object
 4   fatalities    23851 non-null  int64
 5   location      23851 non-null  object
 6   country       23851 non-null  object
 7   cat           23851 non-null  object
 8   year          23851 non-null  object
dtypes: int64(1), object(8)
memory usage: 1.8+ MB

In [242]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [243]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23851 entries, 0 to 23966
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          23302 non-null  datetime64[ns]
 1   type          23851 non-null  object
 2   registration  23851 non-null  object
 3   operator      23851 non-null  object
 4   fatalities    23851 non-null  int64
 5   location      23851 non-null  object
 6   country       23851 non-null  object
 7   cat           23851 non-null  object
 8   year          23851 non-null  object
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 1.8+ MB

In [244]:
df.head()

,date,type,registration,operator,fatalities,location,country,cat,year
0,NaT,Antonov An-12B,T-1206,Indonesian AF,0,Unknown,Unknown country,U1,unknown
1,NaT,Antonov An-12B,T-1204,Indonesian AF,0,Unknown,Unknown country,U1,unknown
2,NaT,Antonov An-12B,T-1201,Indonesian AF,0,Unknown,Unknown country,U1,unknown
3,NaT,Antonov An-12BK,Unknown,Soviet AF,0,Tiksi Airport (IKS),Russia,A1,unknown
4,NaT,Antonov An-12BP,CCCP-11815,Soviet AF,0,Massawa Airport ...,Eritrea,A1,unknown

In [245]:
df['date'].value_counts()

1940-05-10    80
1945-03-24    50
1944-06-06    41
1944-09-17    35
1944-09-19    28
              ..
2020-11-12     1
2018-08-01     1
2012-11-15     1
2009-06-13     1
1970-01-01     1
Name: date, Length: 14814, dtype: int64