In [185]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [186]:
df = pd.read_csv('./Data/aviation-accident-data-2023-05-16.csv')

In [187]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23967 entries, 0 to 23966
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          23967 non-null  object
 1   type          23967 non-null  object
 2   registration  22419 non-null  object
 3   operator      23963 non-null  object
 4   fatalities    20029 non-null  object
 5   location      23019 non-null  object
 6   country       23967 non-null  object
 7   cat           23967 non-null  object
 8   year          23967 non-null  object
dtypes: object(9)
memory usage: 1.6+ MB

In [188]:
df.head()

,date,type,registration,operator,fatalities,location,country,cat,year
0,date unk.,Antonov An-12B,T-1206,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
1,date unk.,Antonov An-12B,T-1204,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
2,date unk.,Antonov An-12B,T-1201,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
3,date unk.,Antonov An-12BK,NaN,Soviet AF,NaN,Tiksi Airport (IKS),Russia,A1,unknown
4,date unk.,Antonov An-12BP,CCCP-11815,Soviet AF,0,Massawa Airport ...,Eritrea,A1,unknown

In [189]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df['type'] = df['type'].astype('category')
df['fatalities'] = pd.to_numeric(df['fatalities'], errors='coerce')

In [190]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23967 entries, 0 to 23966
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          23408 non-null  datetime64[ns]
 1   type          23967 non-null  category
 2   registration  22419 non-null  object
 3   operator      23963 non-null  object
 4   fatalities    19676 non-null  float64
 5   location      23019 non-null  object
 6   country       23967 non-null  object
 7   cat           23967 non-null  object
 8   year          23967 non-null  object
dtypes: category(1), datetime64[ns](1), float64(1), object(6)
memory usage: 1.7+ MB

In [191]:
df.isna().sum()

date             559
type               0
registration    1548
operator           4
fatalities      4291
location         948
country            0
cat                0
year               0
dtype: int64

In [192]:
fatalities = df['fatalities'].value_counts()
df['fatalities'].fillna(fatalities[0], inplace=True)

In [193]:
df = df.drop(df.loc[df.isnull().sum(axis=1) >= 3].index)

In [194]:
df.isna().sum()

date             544
type               0
registration    1533
operator           4
fatalities         0
location         933
country            0
cat                0
year               0
dtype: int64

In [195]:
df['registration'].fillna('Unknown', inplace=True)
df['operator'].fillna('Unknown', inplace=True)
df['location'].fillna('Unknown location', inplace=True)

In [196]:
df.isna().sum()

date            544
type              0
registration      0
operator          0
fatalities        0
location          0
country           0
cat               0
year              0
dtype: int64

In [197]:
#drop dates with null values
df = df.dropna(subset=['date'], axis=0)

In [198]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23408 entries, 61 to 23966
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          23408 non-null  datetime64[ns]
 1   type          23408 non-null  category
 2   registration  23408 non-null  object
 3   operator      23408 non-null  object
 4   fatalities    23408 non-null  float64
 5   location      23408 non-null  object
 6   country       23408 non-null  object
 7   cat           23408 non-null  object
 8   year          23408 non-null  object
dtypes: category(1), datetime64[ns](1), float64(1), object(6)
memory usage: 1.8+ MB

In [199]:
df.isna().sum()

date            0
type            0
registration    0
operator        0
fatalities      0
location        0
country         0
cat             0
year            0
dtype: int64

In [202]:
#remember to strip the columns of whitespace 
df.columns = df.columns.str.strip()

In [ ]:
#df.to_csv('./Data/cleaned_aviation_data.csv', index=False)